# Entornos virtuales
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Variables de entorno
.env

# Archivos temporales
*.tmp
*.log

# Modelos generados
models/*.pkl
models/*.joblib

# Datos procesados
data/processed/*
